<% provide(:title, "Home") %>
<% if logged_in? %>
<div class="network-header col-md-12">
	
</div>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="row">
     <section class="col-md-6">
    <div class="col-md-4 netImg">
    <%= link_to new_network_path do %>
       <p>Create New Network</p>
       <%= image_tag "plus-circle.png", :class => "new-net" %>
    <% end %>
    </div>
    <div class="col-md-4 netImg">
    <%= link_to main_path do %>
      <p>Main: Following</p>
       <%= image_tag "logot.png", :class => "main-net" %>
    <% end %>
  </div>
     </section>
   </div>
    
  </div>

<% else %>
<body class="home-body">
<div class="center slogan">
  <h1>Welcome to Soulster</h1>

  <h2>
    create and join awesome communities 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
</body>
