<% provide(:title, @network.name) %>
<div class="row">
 <div class="network_header">
    <span class="user">
    	<h1 class="net-name">
    	  <%= image_tag @network.picture.url, :class => "net-img-home" %>
          <%= @network.name %>
	    </h1>
	</span>
  </div>
</div>

<div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
      	<%= form_for(Netpost.new, html: { multipart: true }) do |f| %>
    
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Netpost", class: "btn btn-primary" %>
  
<% end %>
        
      </section>
     
    </aside>
</div>
 



