<div class="row">
  <section class="col-md-6">
    <div class="col-md-4 netImg">
       <%= link_to new_network_path do %>
          <p>Create New Network</p>
          <%= image_tag "plus-circle.png", :class => "new-net" %>
    <% end %>
    </div>
    <div class="col-md-4 netImg">
    <%= link_to main_path do %>
      <p>Main: Following</p>
       <%= image_tag "logot.png", :class => "main-net" %>
    <% end %>
  </div>
  <% @network.each do |network| %>
  <div class="col-md-4 netImg">
    <p><%= link_to network.name, network %></p>
    <%= image_tag network.picture.url, :class => "net-img" %>
  </div>
<% end %>
     </section>
</div>


