 <div class="row">
    <aside class="col-md-6">
      <section class="user_info">
        <%= image_tag @post.user.picture.url || "default.png", :class => "gravatar"%>
    <span class="user"><%= link_to @post.user.name, @post.user %></span>
    <p>Founder and Software Developer</p>
      </section>
       <section class="stats" id="post-<%= @post.id %>">
    
    <span class="content" style="margin-top:10px;">
     <p><%= raw(@post.content) %></p>
     <%= image_tag @post.picture.url if @post.picture? %>
   </span>
   <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
    <% if current_user?(@post.user) %>
    <%= link_to "delete", @post, method: :delete,
    data: { confirm: "You sure?" } %>
   
    <% end %>
  </span>
</section>
      <section class="post_form">
        <%= render 'shared/comment_form' %>
      </section>
</aside>

<h3> Comments </h3>
 <ol class="posts col-md-6"><%= render 'shared/comments' %></ol>
</div>




 

