<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | A social network for everyone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/header' %>

  <div class="container">
  	  <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
	  <%= yield %>
	  <%= link_to main_path do %>
	     <%= image_tag "NEW_.png", :class => "corner-logo" %>
	  <% end %>
  </div>
  

</body>
</html>
